.Weather form {
  margin: 15px 10px 5px;
}

.Weather li {
  list-style: none;
  font-size: 16px;
  line-height: 19px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather h1 {
  font-size: 40px;
  margin-bottom: 0;
}

.Weather .temperature {
  line-height: 64px;
  font-size: 64px;
  font-weight: 400;
}

.Weather .units {
  position: relative;
  top: -12px;
  font-size: 16px;
}

.Weather img {
  height: 64px;
}